.top-bar {
	background-color:#ffffff;	
	background-image:url('/media/img/logo-mpsc.png');
	background-repeat:no-repeat;
	min-height:80px;
}
#banner {
	background:#77c300;
}

#footer {
	background:#77c300;
}
#progress_div td.selected {
  background:#DFF0D8;
}
.btn-primary,a.btn,.btn-lg,.btn-primary {
	background-color:#77c300;
	border-color:#77c300;
}
.btn-primary:hover,#proceed_button{
	background-color:#009933;
	border-color:#009933;
}
a:hover, a:focus {
  color: #009933;
  text-decoration: underline;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
	color:#77c300;
	background-color:#009933;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #77c300;
  background-color: #009933;
  border-color: #77c300;
}

.panel-primary > .panel-heading {
    color: #77c300;
    background-color: #eeeeee;
    border-color: #eeeeee;    
}

.panel-primary {
    border-color: #eeeeee;    
}

:focus{
    outline: 0;
}
