.top-bar {
	background-color:#ffffff;	
	background-image:url('/media/img/logo-acmp.png');
	background-repeat:no-repeat;
	min-height:110px;
}
#banner {
	background:#a21414;
}
#footer {
	background:#a21414;
}
#progress_div td.selected {
  background:#DFF0D8;
}
.btn-primary,a.btn,.btn-lg,.btn-primary {
	background-color:#a21414;
	border-color:#a21414;
}
.btn-primary:hover,#proceed_button{
	background-color:#e82222;
	border-color:#e82222;
}
a:hover, a:focus {
  color: #e82222;
  text-decoration: underline;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
	color:#a21414;
	background-color:#009933;
}
.btn-primary:hover, .btn-sucess:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #a21414;
  background-color: #e82222;
  border-color: #a21414;
}

.panel-primary > .panel-heading {
    color: #a21414;
    background-color: #eeeeee;
    border-color: #eeeeee;    
}

.panel-primary {
    border-color: #eeeeee;    
}

:focus{
    outline: 0;
}

